---

---

<div
  id="section2"
  class="container mx-auto max-w-2xl min-h-80 my-7 rounded-md drop-shadow-lg px-4 py-4 bg-slate-50"
>
  <h3 class="text-4xl font-extrabold tracking-tight">About me</h3>
  <p class="mt-6 text-lg leading-8">
    Me especializo en el front-end y cuento con conociemientos sobre analisis de
    datos. Mi enfoque está en aprender sobre optimización de procesos, diseño de
    interfaces y ,por supuesto, buenas prácticas. Me apasiona la resolución de
    problemas, los patrones de diseño, y todo lo relacionado con el mundo IT.
  </p>
  <p class="mt-6 text-lg leading-8">
    A lo largo de mi corta carrera, he adquirido experiencia de forma autónoma y
    profesional, donde he desarrollado una sólida habilidad para resolver
    inconvenientes de forma proactiva, comunicar y escuchar diferentes
    opiniones, trabajar en equipo. Me destaco por mi paciencia, resiliencia y
    buena predisposición, lo que me permite contribuir efectivamente a
    diferentes grupos de trabajo.
  </p>
  <p class="mt-6 text-lg leading-8">
    Estoy en constante búsqueda de oportunidades para aprender y crecer
    profesionalmente, y me motiva el desafío de seguir capacitandome
    constantemente.
  </p>
</div>
