---

---

<div class="container mx-auto lg:px-32 lg:py-10">
  <div
    id="section2"
    class="my-7 mx-4 rounded-md drop-shadow-lg px-8 py-8 bg-slate-50 text-wrap"
  >
    <h3 class="text-4xl font-extrabold tracking-tight">Sobre mí</h3>
    <p class="mt-6 text-lg leading-7 antialiased">
      Me especializo en el front-end y cuento con conociemientos sobre análisis
      de datos. Mi enfoque está en aprender sobre optimización de procesos,
      diseño de interfaces y ,por supuesto, buenas prácticas. Me apasiona la
      resolución de problemas, los patrones de diseño, en general todo lo
      relacionado con el mundo IT.
    </p>
    <p class="mt-6 text-lg leading-7 antialiased">
      A lo largo de mi corta carrera, he adquirido experiencia de forma autónoma
      y profesional. He desarrollado una sólida habilidad para resolver
      problemas de manera proactiva y mejorar la comunicación interpersonal, lo
      que me permite trabajar en equipo cómodamente y tener una escucha activa
      sobre las opiniones del equipo.
    </p>
    <p class="mt-6 text-lg leading-7 antialiased">
      Estoy en constante búsqueda de oportunidades para aprender y crecer
      profesionalmente, me motiva el desafío de seguir capacitandome
      constantemente.
    </p>
  </div>
</div>
