---

---

<div
  id="section1"
  class="grid w-full grid-cols-1 my-8 md:grid-cols-2 xl:gap-14"
>
  <div
    class="flex flex-col justify-center col-span-1 text-center px-2 md:pl-6 md:max-lg:pt-6 lg:text-start"
  >
    <h1
      class="mb-1 text-center text-5xl font-extrabold leading-tight lg:text-6xl md:text-left text-dark-grey-900"
    >
      Federico Nuñez
    </h1>
    <h2
      class="mb-8 text-center text-4xl font-extrabold tracking-tight leading-tight md:text-left lg:text-5xl text-dark-grey-900"
    >
      Frontend Developer
    </h2>
    <p
      class="mb-6 px-10 text-base font-medium md:text-left md:text-lg md:px-0 antialiased leading-6 lg:w-3/4"
    >
      Soy un apasionado por la tecnología. Me encanta descubrir, resolver
      problemas, siempre busco maneras de mejorar y aprender. Soy una persona
      adaptable y comprometida, lista para enfrentar nuevos desafíos.
    </p>
    <div class="flex flex-col items-center gap-4 lg:flex-row">
      <a href="/CVFedericoNunez.png" download="CVFedericoNuñez.png">
        <button
          class="relative flex h-12 overflow-hidden rounded-xl bg-neutral-950 px-5 py-2.5 text-white font-medium transition-all duration-300 hover:bg-neutral-800 hover:ring-2 hover:ring-neutral-800 hover:ring-offset-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-file-certificate"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
              d="M5 8v-3a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5"></path><path
              d="M6 14m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path><path
              d="M4.5 17l-1.5 5l3 -1.5l3 1.5l-1.5 -5"></path></svg
          >

          <span class="relative">Descargar CV</span>
        </button>
      </a>
    </div>
  </div>
  <div class="items-center justify-end hidden col-span-1 md:flex">
    <img class="w-4/5 rounded-md" src="/header-img.png" alt="header image" />
  </div>
</div>

<!--class="flex items-center py-4 text-sm font-medium px-7 bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 transition active:scale-95 duration-300 rounded-2xl drop-shadow-md"
 -->
