---

---

<div
  class="sticky top-0 z-10 bg-white text-sm font-medium text-center text-gray-500 border-b border-gray-200"
>
  <ul class="flex flex-wrap justify-center -mb-px">
    <li class="mr-2">
      <a
        href="#home"
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300"
      >
        Home
      </a>
    </li>
    <li class="mr-2">
      <a
        href="#about"
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300"
      >
        About
      </a>
    </li>
    <li class="mr-2">
      <a
        href="#technologies"
        class="inline-block p-4 text-sky-700 border-b-2 border-sky-700 rounded-t-lg active"
        aria-current="page"
      >
        Technologies
      </a>
    </li>
    <li class="mr-2">
      <a
        href="#proyects"
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300"
      >
        Proyects
      </a>
    </li>
    <li class="mr-2">
      <a
        href="#contact"
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300"
      >
        Contact
      </a>
    </li>
  </ul>
</div>
