---

---

<div
  class="sticky top-0 z-10 bg-white text-sm font-medium text-center text-gray-500 border-b border-gray-200"
>
  <ul class="flex flex-wrap justify-center -mb-px">
    <li class="mr-2">
      <button
        class="navBtn inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-blue-500 hover:border-blue-500 transition duration-300 ease-in-out"
        data-target="section1"
      >
        <a href="#section1"> Home </a>
      </button>
    </li>
    <li class="mr-2">
      <button
        class="navBtn inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-blue-500 hover:border-blue-500 transition duration-300 ease-in-out"
        data-target="section2"
      >
        <a href="#section2"> About </a>
      </button>
    </li>
    <li class="mr-2">
      <button
        class="navBtn inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-blue-500 hover:border-blue-500 transition duration-300 ease-in-out"
        data-target="section3"
      >
        <a href="#section3"> Technologies </a>
      </button>
    </li>
    <li class="mr-2">
      <button
        class="navBtn inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-blue-500 hover:border-blue-500 transition duration-300 ease-in-out"
        data-target="section4"
      >
        <a href="#section4"> Proyects </a>
      </button>
    </li>
    <li class="mr-2">
      <button
        class="navBtn inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-blue-500 hover:border-blue-500 transition duration-300 ease-in-out"
        data-target="section5"
      >
        <a href="#section5"> Contact </a>
      </button>
    </li>
  </ul>
</div>

<script>
  const buttons = document.querySelectorAll(
    ".navBtn",
  ) as NodeListOf<HTMLElement>;
  const sections = document.querySelectorAll('div[id^="section"]');

  const options = {
    root: null,
    rootMargin: "0px",
    threshold: 0.8,
  };

  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        const activeButton = document.querySelector(
          `.navBtn[data-target="${entry.target.id}"]`,
        );
        buttons.forEach((btn) => {
          btn.classList.remove("border-blue-400", "text-blue-400");
          btn.classList.add("border-transparent");
        });
        activeButton.classList.remove("border-transparent");
        activeButton.classList.add("border-blue-400", "text-blue-400");
      }
    });
  }, options);

  sections.forEach((section) => {
    observer.observe(section);
  });

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const targetSection = document.getElementById(button.dataset.target);
      window.scrollTo({
        top: targetSection.offsetTop,
        behavior: "smooth",
      });
    });
  });
</script>
