---
import TechList from "./TechList.astro";
---

<div
  id="section3"
  class="flex flex-col items-center gap-y-12 py-12 2xl:py-16 max-w-screen-2xl m-auto w-full px-3 sm:px-8 lg:px-16 xl:px-32"
>
  <div
    class="mb-0 flex max-w-[260px] flex-col items-center justify-center gap-6 text-center md:col-span-3 md:mb-4 md:max-w-full"
  >
    <h3 class="text-4xl font-extrabold tracking-tight">
      Tecnologias que manejo
    </h3>
  </div>
  <TechList />
</div>
