---

---

<div class="p-8 bg-slate-50 rounded-lg drop-shadow-md">
    <p class="text-3xl font-bold text-center text-gray-800">The big team</p>
    <p class="mb-12 text-xl font-normal text-center text-gray-500">
        Meat the best team in wolrd
    </p>
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-6">
        <div class="p-4">
            <div class="flex-col flex justify-center items-center">
                <div class="flex-shrink-0">
                    <img
                        src="https://api.iconify.design/logos:javascript.svg?color=%23888888"
                        alt=""
                        class="mx-auto object-cover rounded-full h-20 w-20"
                    />
                </div>
                <div class="mt-2 text-center flex flex-col">
                    <span
                        class="text-lg font-medium text-gray-600 dark:text-white"
                    >
                        Javascript
                    </span>
                </div>
            </div>
        </div>
        <div class="p-4">
            <div class="flex-col flex justify-center items-center">
                <div class="flex-shrink-0">
                    <img
                        src="https://api.iconify.design/logos:react.svg?color=%23888888"
                        alt=""
                        class="mx-auto object-cover rounded-full h-20 w-20"
                    />
                </div>
                <div class="mt-2 text-center flex flex-col">
                    <span
                        class="text-lg font-medium text-gray-600 dark:text-white"
                    >
                        React
                    </span>
                </div>
            </div>
        </div>
        <div class="p-4">
            <div class="flex-col flex justify-center items-center">
                <div class="flex-shrink-0">
                    <img
                        src="https://api.iconify.design/logos:css-3.svg?color=%23888888"
                        alt=""
                        class="mx-auto object-cover rounded-full h-20 w-20"
                    />
                </div>
                <div class="mt-2 text-center flex flex-col">
                    <span
                        class="text-lg font-medium text-gray-600 dark:text-white"
                    >
                        CSS
                    </span>
                </div>
            </div>
        </div>
        <div class="p-4">
            <div class="flex-col flex justify-center items-center">
                <div class="flex-shrink-0">
                    <img
                        src="https://api.iconify.design/logos:python.svg?color=%23888888"
                        alt=""
                        class="mx-auto object-cover rounded-full h-20 w-20"
                    />
                </div>
                <div class="mt-2 text-center flex flex-col">
                    <span
                        class="text-lg font-medium text-gray-600 dark:text-white"
                    >
                        Python
                    </span>
                </div>
            </div>
        </div>
        <div class="p-4">
            <div class="flex-col flex justify-center items-center">
                <div class="flex-shrink-0">
                    <img
                        src="https://api.iconify.design/logos:astro-icon.svg?color=%23888888"
                        alt=""
                        class="mx-auto object-cover rounded-full h-20 w-20"
                    />
                </div>
                <div class="mt-2 text-center flex flex-col">
                    <span
                        class="text-lg font-medium text-gray-600 dark:text-white"
                    >
                        Astro
                    </span>
                </div>
            </div>
        </div>
        <div class="p-4">
            <div class="flex-col flex justify-center items-center">
                <div class="flex-shrink-0">
                    <img
                        src="https://api.iconify.design/logos:html-5.svg?color=%23888888"
                        alt=""
                        class="mx-auto object-cover rounded-full h-20 w-20"
                    />
                </div>
                <div class="mt-2 text-center flex flex-col">
                    <span
                        class="text-lg font-medium text-gray-600 dark:text-white"
                    >
                        HTML
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
